.content {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-form {
    width: 100%;
    max-width: 40rem;
}
.form-field {
    width: 100%;
    display: flex;
    align-items: baseline;
}
.search-sufflix {
    display: flex;
    align-items: center;
}